<!DOCTYPE html>
<html ng-app lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/paper.js"></script>
    <script src="sprouts.js"></script>
  </head>
  <body ng-controller="Controller">
    <div class="row-fluid">

      <div align="right" class="btn-group span2">
        <div class="btn-group">
          <button class="btn" ng-click="new_game()">New ({{ initial_count }})</button>
          <button class="btn dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><button class="btn btn-link" ng-click="new_game(3)">3 sprouts</button>
            <li><button class="btn btn-link" ng-click="new_game(4)">4 sprouts</button>
            <li><button class="btn btn-link" ng-click="new_game(5)">5 sprouts</button>
            <li><button class="btn btn-link" ng-click="new_game(6)">6 sprouts</button>
            <li><button class="btn btn-link" ng-click="new_game(7)">7 sprouts</button>
            <li><button class="btn btn-link" ng-click="new_game(8)">8 sprouts</button>
            <li><button class="btn btn-link" ng-click="new_game(9)">9 sprouts</button>
            <li><button class="btn btn-link" ng-click="new_game(10)">10 sprouts</button>
            <li><button class="btn btn-link" ng-click="new_game(11)">11 sprouts</button>
            <li><button class="btn btn-link" ng-click="new_game(12)">12 sprouts</button>
          </ul>
        </div>
      </div>

      <div align="left" class="btn-group span3">
        <button class="btn" ng-click="update_angular()">Angular</button>
        <span class="btn"><input ng-model="debug" type="checkbox">Debug</input></span>
      </div>

      <span align="center" class="span2"><h4>Sprouts board</h4></span>

      <div align="right" class="btn-group span3">
        <span class="btn">{{ sprout_layer.children.length }} sprouts</span>
        <span class="btn">{{ line_layer.children.length }} lines</span>
      </div>

      <div align="left" class="btn-group span2">
        <button class="btn">
          <a href="http://nrich.maths.org/1208">Game rules</a>
        </button>
        <button class="btn">
          <a href="https://github.com/pinard/sprouts/blob/master/README.org#playing">
            How to play
          </a>
        </button>
      </div>

    </div>
    <canvas id="sprouts" resize="true"
            style="background-color: beige; border: 1px solid black;">
    </canvas>
  </body>
</html>
